*{
	font-family: 'Noto Sans KR', sans-serif;
}
.tape {
	position: relative;
	display: grid;
	grid-template: 2rem / repeat(15, 2rem);
	place-items: stretch;
	place-content: center space-evenly;
	margin: auto;
	outline: none;
	width: 34rem;
	height: 2.5rem;
	background-color: #f0f0f0;
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
}
.cell {
	z-index: 1;
	background-color : #ffffff;
}
.Activecell {
	z-index: 1;
	background-color : #10dc36;
}
.head {
	position: absolute;
        width: 2.5rem;
        height: 4.75rem;
        left: 4.5rem;
        z-index: 2;
        color: transparent;
        transition: all 0.2s ease-in-out;
        border: 4px solid black;
}
.state {
        margin-top: -0.3rem;
        width: 2rem;
        height: 2rem;
        background-color: #ffffff;
        line-height: 3rem;
        color: black;
}
.inputtray {
	border: none;
	box-shadow: none;
	background-color: #ffffff;
	padding: 0.5rem;
	margin: auto;
	display: flex;
	flex-flow: column wrap;
	place-content: center;
	align-items: flex-end;
	font-weight: bold;
	text-align: center;
	font-size: 1.2rem;
}
.inputandcommit{
	margin-top: auto;
}
.inputtext{
	margin-left: 1rem;
	width: 15rem;
}
.commitbutton{
	margin-left: 1.5rem;
	border: none;
	box-shadow: none;
	background-color: #ffffff;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
}
.commitbutton:hover{
	transform: rotate(130deg) translatex(0.5rem);
	transition: 0.4s;
}
.commitbutton:active{
	color: #088A08;
	transform: rotate(130deg) translatex(0.5rem) scale(1.1);
	transition: 0.1s;
}
.commitbutton:focus{
	    outline: none;
}
.controller {
	border: none;
	box-shadow: none;
	background-color: #ffffff;
	padding: 0.5rem;
	margin-top: 2.5rem;
	display: flex;
	flex-flow: row wrap;
	place-content: center;
	font-weight: bold;
	text-align: center;
	font-size: 2rem;
}
.nextAct {
	border: none;
	box-shadow: none;
	background-color: #ffffff;
	padding: 0.1rem;
	margin: auto;
	font-weight: bold;
	text-align: center;
	font-size: 2rem;
}
.nextAct:hover{
	transform: translatex(-0.4rem) rotate(-20deg);
	transition: 0.7s;
}
.nextAct:active{
	transform: translatex(0.3rem) rotate(10deg);
	transition: 0.2s;
}
.nextAct:focus{
	    outline: none;
}
.nextLine {
	border: none;
	box-shadow: none;
	background-color: #ffffff;
	padding: 0.1rem;
	margin: auto;
	line-height: 1;
	font-weight: bold;
	text-align: center;
	font-size: 2rem;
}
.nextLine:hover{
	transform: rotate(-20deg);
	transition: 0.4s;
}
.nextLine:active{
	transform: rotate(20deg) translatey(0.3rem);
	transition: 0.2s;
}
.nextLine:focus{
	    outline: none;
}
.refresh {
	outline: none;
	border: none;
	box-shadow: none;
	background-color: #ffffff;
	padding: 0.1rem;
	margin: auto;
	font-weight: bold;
	text-align: center;
	font-size: 2rem;
}
.refresh:hover{
	transform: rotate(360deg);
	transition: 0.5s;
}
.refresh:active{
	transform: scale(1.2);
	transition: 0.1s;
}
.refresh:focus{
	outline: none;
}
.autoAct {
	border: none;
	box-shadow: none;
	background-color: #ffffff;
	padding: 0.1rem;
	margin: auto;
	display: flex;
	font-weight: bold;
	text-align: center;
	font-size: 2rem;
}
.autoAct:hover{
	transform: rotate(360deg);
	transform-origin: 52.5% 52.5%;
	transition: 2s;
}
.automata {
	position: relative;
	display: grid;
	grid-template: repeat(4, 2rem) / repeat(20, 2rem);
	/* grid-template-rows: repeat(4, 2rem);
	grid-template-columns: repeat(15, 2rem); */
	place-items: stretch;
	place-content: space-evenly;
	margin: auto;
	outline: none;
	width: 45.25rem;
	height: 9.25rem;
	background-color: #f0f0f0;
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
}
.describe {
	margin: auto;
	place-content: center;
	font-weight: bold;
	font-size: 2rem;
}
.describeNum{
	width: 5rem;
	height: 2rem;
	border: none;
	border-bottom: 0.2rem solid black;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}
.describeNum:focus{
	outline: none;
}
.rule {
	position: relative;
	display: grid;
	grid-template: 3.375rem / repeat(8, 5.0625rem);
	place-items: stretch;
	place-content: space-evenly;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	outline: none;
	width: 47.25rem;
	height: 3rem;
}
.ruleElement {
	position: relative;
	display: grid;
	grid-template: repeat(2, 1.5rem)/ repeat(3, 1.5rem);
	place-items: stretch;
	place-content: space-evenly;
	margin: auto;
	box-sizing: border-box;
	outline: none;
	width: 5.0625rem;
	height: 3.375rem;
	background-color: #f0f0f0;
}
.tagsystem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 1rem;
    margin-bottom: -2rem;
}
.product {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.Headtext {
    overflow: hidden;
    line-height: 1rem;
    border: solid;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    resize: none;
    text-align: center;
    font-weight: bold;
}
.producttext {
    overflow: hidden;
    line-height: 1rem;
    border: solid;
    font-size: 1.5rem;
    width: 25rem;
    height: 2rem;
    resize: none;
    text-align: center;
    font-weight: bold;
}
.word {
    overflow: hidden;
    width: 50rem;
    height: 2rem;
    line-height: 1rem;
    border: solid;
    resize: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    overflow-x: auto;
}
.BitNot {
	overflow-x: auto;
	-ms-overflow-style: none;
	-webkit-scrollbar { display: none;}
}
.Universal {
	overflow-x: auto;
	-ms-overflow-style: none;
	-webkit-scrollbar { display: none;}
}
.Rule110 {
	display: grid;
	overflow-x: auto;
	-ms-overflow-style: none;
	-webkit-scrollbar { display: none;}
}
.Cyclic {
	overflow-x: auto;
	-ms-overflow-style: none;
	-webkit-scrollbar { display: none;}
}
.TwoTag {
	overflow-x: auto;
	-ms-overflow-style: none;
	-webkit-scrollbar { display: none;}
}
.CheckNotCheck{
	text-align: center;
}
.CheckNotCheck input:checked+*::before{
	content: 'Checked!';
}
.CheckNotCheck input:not(:checked)+*::before{
	content: 'Not Checked!';
}
.Rule110Mini{
    display: grid;
    grid-template: repeat(2, 2rem) / repeat(3, 2rem);
    place-items: stretch;
    place-content: space-evenly;
    background-color: #f0f0f0;
    width: 7rem;
    height: 4.75rem;
    margin: 0 auto;
}
.Rule110Mini input{
    width: 2rem;
    height: 2rem;
    margin: 0rem;
    appearance: none;
    outline: 0;
    background-color: #ffffff;
}
.Rule110Mini input:nth-child(4){
	margin-left: 2.25rem;
}
.Rule110Mini input:checked {
    background-color: #10dc36;
}
.Rule110Mini input:checked+input:checked+input:checked+*{
	background-color: #ffffff;
}
.Rule110Mini input:checked+input:checked+input:not(:checked)+*{
	background-color: #10dc36;
}
.Rule110Mini input:checked+input:not(:checked)+input:checked+*{
	background-color: #10dc36;
}
.Rule110Mini input:checked+input:not(:checked)+input:not(:checked)+*{
	background-color: #ffffff;
}
.Rule110Mini input:not(:checked)+input:checked+input:checked+*{
	background-color: #10dc36;
}
.Rule110Mini input:not(:checked)+input:checked+input:not(:checked)+*{
	background-color: #10dc36;
}
.Rule110Mini input:not(:checked)+input:not(:checked)+input:checked+*{
	background-color: #10dc36;
}
.Rule110Mini input:not(:checked)+input:not(:checked)+input:not(:checked)+*{
	background-color: #ffffff;
}
